.button {
  border-radius: 25px;
  padding: 8px 20px;
  border: 2px solid #0d47a1;
  background-color: #fff;
  color: #0d47a1;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-color: #6790D0;
}

.button:active {
  background-color: #4178D0;
  color: #fff;
}

.selected {
  color: #fff;
  background-color: #0d47a1;
}

.error {
  color: #fff;
  background-color: #bf0303;
  border-color: #bf0303;
}

.error:hover {
  color: #bf0303;
  background-color: #fff;
  border-color: #bf0303;
}

.error:active {
  background-color: #da3f3f;
  color: #fff;
}